SimgeiClient/src/META-INF/wsdl/10.20.12.26_8080/simgeiWS/ActorWebServiceBean.wsdl

<definitions name='ActorWebServiceBeanService' targetNamespace='http://ws.persona.santafeciudad.gov.ar/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://ws.persona.santafeciudad.gov.ar/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://ws.persona.santafeciudad.gov.ar/' version='1.0' xmlns:tns='http://ws.persona.santafeciudad.gov.ar/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:complexType name='direccionActorCatastroDto'>
    <xs:sequence>
     <xs:element name='activo' type='xs:boolean'/>
     <xs:element minOccurs='0' name='codPostal' type='xs:int'/>
     <xs:element minOccurs='0' name='departamento' type='xs:string'/>
     <xs:element minOccurs='0' name='direccion' type='xs:string'/>
     <xs:element minOccurs='0' name='distrito' type='xs:string'/>
     <xs:element minOccurs='0' name='edificio' type='xs:string'/>
     <xs:element minOccurs='0' name='fechaActivo' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='id' type='xs:long'/>
     <xs:element minOccurs='0' name='idCalle' type='xs:string'/>
     <xs:element name='item' type='xs:short'/>
     <xs:element minOccurs='0' name='letra' type='xs:string'/>
     <xs:element minOccurs='0' name='local' type='xs:string'/>
     <xs:element minOccurs='0' name='manzana' type='xs:string'/>
     <xs:element minOccurs='0' name='monoblock' type='xs:string'/>
     <xs:element minOccurs='0' name='nombreCalle' type='xs:string'/>
     <xs:element minOccurs='0' name='numero' type='xs:int'/>
     <xs:element minOccurs='0' name='observaciones' type='xs:string'/>
     <xs:element minOccurs='0' name='padron' type='xs:string'/>
     <xs:element minOccurs='0' name='piso' type='xs:string'/>
     <xs:element minOccurs='0' name='provincia' type='xs:string'/>
     <xs:element minOccurs='0' name='sector' type='xs:string'/>
     <xs:element name='secuencia' type='xs:short'/>
     <xs:element minOccurs='0' name='tipoDireccion' type='xs:string'/>
     <xs:element minOccurs='0' name='tipoDomicilio' type='xs:string'/>
     <xs:element minOccurs='0' name='tipoPortal' type='xs:string'/>
     <xs:element minOccurs='0' name='torre' type='xs:string'/>
     <xs:element minOccurs='0' name='vivienda' type='xs:string'/>
     <xs:element minOccurs='0' name='zona' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getActoresFilter'>
    <xs:sequence>
     <xs:element minOccurs='0' name='apellido' type='xs:string'/>
     <xs:element minOccurs='0' name='conCuit' type='xs:int'/>
     <xs:element minOccurs='0' name='conNumeroDocumento' type='xs:int'/>
     <xs:element minOccurs='0' name='conUnificados' type='xs:int'/>
     <xs:element minOccurs='0' name='cuitCodigo1' type='xs:byte'/>
     <xs:element minOccurs='0' name='cuitCodigo2' type='xs:int'/>
     <xs:element minOccurs='0' name='cuitCodigo3' type='xs:byte'/>
     <xs:element minOccurs='0' name='filaInicial' type='xs:int'/>
     <xs:element minOccurs='0' name='nombre' type='xs:string'/>
     <xs:element minOccurs='0' name='nombreFantasia' type='xs:string'/>
     <xs:element minOccurs='0' name='nombreOrganismo' type='xs:string'/>
     <xs:element minOccurs='0' name='numeroDocumento' type='xs:int'/>
     <xs:element minOccurs='0' name='razonSocial' type='xs:string'/>
     <xs:element minOccurs='0' name='tipoBusqueda' type='xs:string'/>
     <xs:element minOccurs='0' name='tipoDocumento' type='xs:string'/>
     <xs:element minOccurs='0' name='totalFilas' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='actorCatastroDto'>
    <xs:sequence>
     <xs:element minOccurs='0' name='apellido' type='xs:string'/>
     <xs:element minOccurs='0' name='apellidoMaterno' type='xs:string'/>
     <xs:element name='codigo' type='xs:int'/>
     <xs:element minOccurs='0' name='cuit' type='xs:string'/>
     <xs:element minOccurs='0' name='emailPrincipal' type='xs:string'/>
     <xs:element minOccurs='0' name='fechaNacimiento' type='xs:string'/>
     <xs:element minOccurs='0' name='firmaSidom' type='xs:int'/>
     <xs:element minOccurs='0' name='id' type='xs:long'/>
     <xs:element minOccurs='0' name='movilPrincipal' type='xs:string'/>
     <xs:element minOccurs='0' name='nombre' type='xs:string'/>
     <xs:element minOccurs='0' name='nombreOrganismo' type='xs:string'/>
     <xs:element minOccurs='0' name='numeroDocumento' type='xs:int'/>
     <xs:element minOccurs='0' name='razonSocial' type='xs:string'/>
     <xs:element minOccurs='0' name='sexo' type='xs:string'/>
     <xs:element minOccurs='0' name='telefonoPrincipal' type='xs:string'/>
     <xs:element minOccurs='0' name='tipoActor' type='xs:string'/>
     <xs:element minOccurs='0' name='tipoDocumento' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='unificados' nillable='true' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType final='#all' name='direccionActorCatastroDtoArray'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='item' nillable='true' type='tns:direccionActorCatastroDto'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType final='#all' name='actorCatastroDtoArray'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='item' nillable='true' type='tns:actorCatastroDto'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='ActorWebService_getActoresUnificados'>
  <part name='arg0' type='xsd:long'></part>
 </message>
 <message name='ActorWebService_getActores'>
  <part name='arg0' type='tns:getActoresFilter'></part>
 </message>
 <message name='ActorWebService_getDireccionesActor'>
  <part name='arg0' type='xsd:long'></part>
 </message>
 <message name='ActorWebService_getDireccionesActiva'>
  <part name='arg0' type='xsd:long'></part>
 </message>
 <message name='ActorWebService_getDireccionesActivaResponse'>
  <part name='return' type='tns:direccionActorCatastroDtoArray'></part>
 </message>
 <message name='ActorWebService_getActorById'>
  <part name='arg0' type='xsd:long'></part>
 </message>
 <message name='ActorWebService_getActorByDocumentoResponse'>
  <part name='return' type='tns:actorCatastroDtoArray'></part>
 </message>
 <message name='ActorWebService_getActoresResponse'>
  <part name='return' type='tns:actorCatastroDtoArray'></part>
 </message>
 <message name='ActorWebService_getActorByDocumento'>
  <part name='documento' type='xsd:string'></part>
 </message>
 <message name='ActorWebService_getDireccionesActorResponse'>
  <part name='return' type='tns:direccionActorCatastroDtoArray'></part>
 </message>
 <message name='ActorWebService_getActoresUnificadosResponse'>
  <part name='return' type='tns:actorCatastroDtoArray'></part>
 </message>
 <message name='ActorWebService_getActorByIdResponse'>
  <part name='return' type='tns:actorCatastroDto'></part>
 </message>
 <portType name='ActorWebService'>
  <operation name='getActorByDocumento' parameterOrder='documento'>
   <input message='tns:ActorWebService_getActorByDocumento'></input>
   <output message='tns:ActorWebService_getActorByDocumentoResponse'></output>
  </operation>
  <operation name='getActorById' parameterOrder='arg0'>
   <input message='tns:ActorWebService_getActorById'></input>
   <output message='tns:ActorWebService_getActorByIdResponse'></output>
  </operation>
  <operation name='getActores' parameterOrder='arg0'>
   <input message='tns:ActorWebService_getActores'></input>
   <output message='tns:ActorWebService_getActoresResponse'></output>
  </operation>
  <operation name='getActoresUnificados' parameterOrder='arg0'>
   <input message='tns:ActorWebService_getActoresUnificados'></input>
   <output message='tns:ActorWebService_getActoresUnificadosResponse'></output>
  </operation>
  <operation name='getDireccionesActiva' parameterOrder='arg0'>
   <input message='tns:ActorWebService_getDireccionesActiva'></input>
   <output message='tns:ActorWebService_getDireccionesActivaResponse'></output>
  </operation>
  <operation name='getDireccionesActor' parameterOrder='arg0'>
   <input message='tns:ActorWebService_getDireccionesActor'></input>
   <output message='tns:ActorWebService_getDireccionesActorResponse'></output>
  </operation>
 </portType>
 <binding name='ActorWebServiceBinding' type='tns:ActorWebService'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='getActorByDocumento'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://ws.persona.santafeciudad.gov.ar/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://ws.persona.santafeciudad.gov.ar/' use='literal'/>
   </output>
  </operation>
  <operation name='getActorById'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://ws.persona.santafeciudad.gov.ar/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://ws.persona.santafeciudad.gov.ar/' use='literal'/>
   </output>
  </operation>
  <operation name='getActores'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://ws.persona.santafeciudad.gov.ar/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://ws.persona.santafeciudad.gov.ar/' use='literal'/>
   </output>
  </operation>
  <operation name='getActoresUnificados'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://ws.persona.santafeciudad.gov.ar/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://ws.persona.santafeciudad.gov.ar/' use='literal'/>
   </output>
  </operation>
  <operation name='getDireccionesActiva'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://ws.persona.santafeciudad.gov.ar/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://ws.persona.santafeciudad.gov.ar/' use='literal'/>
   </output>
  </operation>
  <operation name='getDireccionesActor'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://ws.persona.santafeciudad.gov.ar/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://ws.persona.santafeciudad.gov.ar/' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='ActorWebServiceBeanService'>
  <port binding='tns:ActorWebServiceBinding' name='ActorWebServiceBeanPort'>
   <soap:address location='http://10.20.12.26:8080/simgeiWS/ActorWebServiceBean'/>
  </port>
 </service>
</definitions>